.Kaartjes {
    display: flex;
    justify-content: center;
    @include respond(tab-land) { 
      flex-direction: column;
      align-items: center;
  }
  }
  .titel {
    font-size: 52px;
    color: #444f6b;
    text-align: center;
    margin-bottom: 10rem;
    margin-top: 20rem;
  }
  .Card {
    width: 30rem;
    min-width: 25rem;
    
    margin: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  
    span{
      font-size: 18px;
      color: #444f6b;
      margin-top: 5rem;
      font-weight: 500;
      line-height: 35px;

      @include respond(phone) { 
        display: none;
    }
  }
    
  
    .Card__body {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 10px 10px 10px 10px;
  
      .Card__Top {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20rem;
      background-color: white;
      border-radius: 10px 10px 0px 0px;
      }
  
  
    .Card__Achtergrond {
      height: 11rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 500;
      color: #98a3bd;
     
      
      }
  
  
  }
  }