.kaartjes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include respond(tab-port) { 
      flex-direction: column;
      align-items: center;
    }
}  
  
.card {
  width: 30rem;
  min-width: 25rem;
  flex-wrap: wrap;
  margin: 0 5rem 0 5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;

  &__body {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 2.4rem;
    border-radius: 1rem 1rem 1rem 1rem;
  }

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-color: $color-white-2;
    border-radius: 1rem 1rem 0px 0px;
  }


  &__achtergrond {
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    color: $color-grey-1;
  }



  &__beschrijving{
    font-size: 1.8rem;
    color: $color-blue-2;
    margin-top: 5rem;
    font-weight: 500;
    line-height: 3.5rem;

    @include respond(phone) { 
      display: none;
    }
  } 
}
