.Content{
    margin-left: 250px;
    color: #444f6b;
    

    &__titel{
        font-size: 80px;  
        font-weight: 700;
        width: 450px;
    }



    &__ondertitel{
        font-size: 22px; 
        margin-bottom: 50px;  
        width: 850px;
    }


    &__button{
        text-align: center;
        line-height: 3px;
        background-color: #6387EB;
        border-style: none;
        border-radius: 50px;
        height: 32.18px;
        width: 300px;
        color: #ffffff;
        padding: 30px;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 30px;

        &:focus{
            outline: none;   
           }
    }

    &__subtext{
        color: #98A3BD;
        font-size: 18px;
    }
}