.content{
    margin-top: 10rem;
    color: $color-blue-2;
    display: flex;
    height: 100rem;

    
    
    &__titel{
        font-size: 8rem;  
        font-weight: 700;
        width: 45rem;
        line-height: 1.2;
        margin-bottom: 3rem;
    }



    &__ondertitel{
        font-size: 2rem; 
        margin-bottom: 5rem;  
        
    }


    

    &__subtext{
        color: $color-grey-1;
        font-size: 1.8rem;
    }

    &__links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 13.8rem;
        flex: 0 0 40%;
        
    }

    &__rechts{

    }
        

        &__foto1{           
            position: absolute;
            right: 0;
        }
   
    }