.Content{
    margin-top: 54.5rem;
    margin-left: 10.5rem;
    color: #444f6b;
    width: 50.5rem;
    

    &__titel{
        font-size: 8rem;  
        font-weight: 700;
        width: 45rem;
        line-height: 1.2;
        margin-bottom: 3rem;
    }



    &__ondertitel{
        font-size: 2rem; 
        margin-bottom: 5rem;  
        width: 85rem;
    }


    &__button{
        text-align: center;
        line-height: 3px;
        background-color: #6387EB;
        border-style: none;
        border-radius: 5rem;
        height: 3.218rem;
        width: 30rem;
        color: #ffffff;
        padding: 3rem;
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 3rem;

        &:focus{
            outline: none;   
           }
    }

    &__subtext{
        color: #98A3BD;
        font-size: 1.8rem;
    }
}