.navigatie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
    background-color: $color-white-2;
    color: $color-blue-2;
    height: 12rem;
    font-weight: 500;
    font-size: 2.2rem;
  
    &__logo {
      flex: 0 0 65%;
      display: flex;
      align-items: center;

      &-img{
        height: 5rem;
        width: auto;
        margin-right: 2rem;
      }
      &-titel {
        font-weight: 700;
      }
    }
  
    &__items {
      display: flex;
      justify-content: space-between;
      flex: 0 0 35%;
    }
  
    &__item {
     
      .active {
        color: $color-blue-1;
        //Navlink maakt automatisch deze klasse aan wanneer je op die pagina bent
      }
      a {
        text-decoration: none;
        color: $color-blue-2;
        
      }
    }
  
}