

.Video {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    
}

.react-player {
    border-radius: 10px;
    overflow: hidden;
}

