/*
0 - 600px:          Phone
600-900px:          Tablet portrait
900-1200px:         Tablet landscape
1200-1800px:        normaal scherm
1800px+ :           groot scherm

$breakpoint keuzes:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

*/
.navigatie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5% 0 5%;
  background-color: #FFFFFF;
  color: #444F6B;
  height: 12rem;
  font-weight: 500;
  font-size: 2.2rem;
}

.navigatie__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigatie__logo-img {
  height: 5rem;
  width: auto;
  margin-right: 2rem;
}

.navigatie__logo-titel {
  font-weight: 700;
}

.navigatie__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.navigatie__item .active {
  color: #6387EB;
}

.navigatie__item a {
  text-decoration: none;
  color: #444F6B;
}

.kaartjes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 56.25em) {
  .kaartjes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card {
  width: 30rem;
  min-width: 25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 5rem 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__body {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 2.4rem;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 2.4rem;
  border-radius: 1rem 1rem 1rem 1rem;
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20rem;
  background-color: #FFFFFF;
  border-radius: 1rem 1rem 0px 0px;
}

.card__achtergrond {
  height: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: #98A3BD;
}

.card__beschrijving {
  font-size: 1.8rem;
  color: #444F6B;
  margin-top: 5rem;
  font-weight: 500;
  line-height: 3.5rem;
}

@media (max-width: 37.5em) {
  .card__beschrijving {
    display: none;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.react-player {
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 8%;
}

@media (max-width: 75em) {
  .react-player {
    width: 100% !important;
  }
}

.nieuwsbrief {
  text-align: center;
}

.nieuwsbrief__titel {
  margin-top: 70rem;
  font-size: 8rem;
  color: #444F6B;
}

.nieuwsbrief__tekst {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  font-weight: 400;
  color: #444F6B;
}

.nieuwsbrief__formulier {
  margin-bottom: 5rem;
}

.nieuwsbrief__field {
  width: 45rem;
  height: 9em;
  border-style: none;
  border-radius: 1.5rem;
}

.nieuwsbrief__field::-webkit-input-placeholder {
  padding-left: 3.2rem;
  padding-top: 1.5rem;
  color: #98A3BD;
  font-size: 2rem;
}

.nieuwsbrief__field:-ms-input-placeholder {
  padding-left: 3.2rem;
  padding-top: 1.5rem;
  color: #98A3BD;
  font-size: 2rem;
}

.nieuwsbrief__field::-ms-input-placeholder {
  padding-left: 3.2rem;
  padding-top: 1.5rem;
  color: #98A3BD;
  font-size: 2rem;
}

.nieuwsbrief__field::placeholder {
  padding-left: 3.2rem;
  padding-top: 1.5rem;
  color: #98A3BD;
  font-size: 2rem;
}

.nieuwsbrief__field:focus {
  outline: none;
}

.nieuwsbrief__action {
  position: absolute;
}

.content {
  margin-top: 10rem;
  color: #444F6B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100rem;
}

.content__titel {
  font-size: 8rem;
  font-weight: 700;
  width: 45rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.content__ondertitel {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.content__subtext {
  color: #98A3BD;
  font-size: 1.8rem;
}

.content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 13.8rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.content__foto1 {
  position: absolute;
  right: 0;
}

.titel {
  font-size: 5.2rem;
  color: #444F6B;
  text-align: center;
  margin-bottom: 14.7rem;
  margin-top: 54.7rem;
}

.button {
  cursor: pointer;
  border-style: none;
  color: #FFFFFF;
  background-color: #6387EB;
}

.button--content {
  text-align: center;
  line-height: 3px;
  border-radius: 5rem;
  height: 3.218rem;
  width: 25rem;
  padding: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.button--nieuwsbrief {
  position: relative;
  left: 93rem;
  height: 9.3rem;
  width: 9.3rem;
  border-radius: 15px;
}

.button:focus {
  outline: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*
    @include respond(phone) {
        font-size: 50%;
    }*/
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  margin: auto;
  background-color: #f6f8fd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */