/////////////////////////////////
///////COLOR

$color-white-1: #f6f8fd;
$color-white-2: #FFFFFF;

$color-blue-1: #6387EB;
$color-blue-2: #444F6B;

$color-grey-1: #98A3BD;

$color-black-1: black;


$color-top: #6E79E5;
$color-bottom: $color-white-2;