.button{
    cursor: pointer;
    border-style: none;
    color: $color-white-2;
    background-color: $color-blue-1;

    
    &--content {
        text-align: center;
        line-height: 3px;
        border-radius: 5rem;
        height: 3.218rem;
        width: 25rem;
       
        padding: 2.5rem;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 3rem;
        transition: 0.2s ease-in;

        
        @include respond(big-desktop) {  
            width: 33rem;
            height: 8rem;
            font-size: 3.4rem;
        }

        @include respond(small-phone) { 
            width: 15rem;
            border-radius: 1rem;
            font-size: 1.4rem;
            font-weight: 600;
        }

        &:link,
        &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: absolute;
        }
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
        
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }

        
        
        
        
        
        
        
        
        @keyframes moveInBottom {
            0% {
                opacity: 0;
                transform: translateY(30px);
            }
        
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        
    }

    &--demo{
        text-align: center;
        line-height: 3px;
        border-radius: 5rem;
        height: 3.218rem;
        width: 22rem;
       
        padding: 2.5rem;
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: 3rem;

        &:link,
        &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: absolute;
        }
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
        
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }

        
        
        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }

        
        
        &:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
        
        
        @keyframes moveInBottom {
            0% {
                opacity: 0;
                transform: translateY(30px);
            }
        
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }

    }
    &--product {
        text-align: center;
        line-height: 3px;
        border-radius: 5rem;
        height: 3.218rem;
        width: 25rem;
       
        padding: 2.5rem;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 3rem;

        @include respond(big-desktop) {  
            width: 33rem;
            height: 8rem;
            font-size: 3.4rem;
        }

        @include respond(small-phone) { 
            width: 15rem;
            border-radius: 1rem;
            font-size: 1.4rem;
            font-weight: 600;
        }

        &:link,
        &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: absolute;
        }
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
        
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }

        
        
        

        
        
        
        
      
    }
    &--nieuwsbrief{
        z-index: 1;
        position: absolute;

        right: 0;

        height: 9.3rem;
        width: 9.3rem;
        border-radius: 15px;
        background-image: url('../images/button.svg');
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.2s ease-in;
        cursor: pointer;
        @include respond(phone) { 
            height: 5rem;
            width: 5rem; 
            background-size: 25px 25px;
            border-radius: 5px;
            right: 3rem;
        }
        
        &:link,
        &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: absolute;
        
        }
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
        
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }
        
        
        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }

        
        
        &:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    
        
        @keyframes moveInBottom {
            0% {
                opacity: 0;
                transform: translateY(30px);
            }
        
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        
    }
    &:focus{
        outline: none;   
       }
    &--price {
        text-align: center;
        line-height: 3px;
        border-radius: 5rem;
        height: 3.218rem;
        width: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2.5rem;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 3rem;
        transition: 0.2s ease-in;
        position: absolute;
        bottom: 0;
        @include respond(tab-land){
            left: 10px;
        }
        &-active {
            background-color: $color-white-2;
            color: $color-blue-1;
        }
    }
}

