.button{
    cursor: pointer;
    border-style: none;
    color: $color-white-2;
    background-color: $color-blue-1;

    
    &--content {
        text-align: center;
        line-height: 3px;
        border-radius: 5rem;
        height: 3.218rem;
        width: 25rem;
       
        padding: 2.5rem;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 3rem;
        
    }
    &--nieuwsbrief{
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0.2rem;
        // left: 93rem;
        // margin-left: -9.3rem;
        height: 9.3rem;
        width: 9.3rem;
        border-radius: 15px;
    }
    &:focus{
        outline: none;   
       }
}

