.card__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include respond(tab-port) { 
        flex-direction: column;
        align-items: center;
        }
    
    .card {
        max-width: 37rem;
        min-width: 37rem;
        margin: 0 5rem 0 5rem;
        @include respond(tab-port) { 
            margin: 3rem;
                }
        @include respond(phone) { 
            max-width: 25rem;
            min-width: 25rem;
            margin-top: 2rem;
            }

        @include respond(small-phone) { 
            max-width: 20rem;
            min-width: 20rem;
            }

        

        &__body {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 2.4rem;
            border-radius: 2rem;
            margin-bottom: 2rem;
            transition: 0.2s ease-in;


            

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }


        }
        &__image {
            height: 25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-white-2;
            border-radius: 2rem 2rem 0px 0px;
            @include respond(phone) { 
                height: 17rem;
                }
            @include respond(small-phone) { 
                height: 15rem;
                }
            


            &--item{
                height: 15rem;
                width: 15rem;
                @include respond(phone) { 
                    transform: scale(0.7);
                        }
                @include respond(small-phone) { 
                   transform: scale(0.5);
                    }
                
              
            }
        }

        &__title {
            height: 13rem;
            font-size: 3rem;
            font-weight: 500;
            color: $color-grey-1;
            display: flex;
            justify-content: center;
            align-items: center;
            @include respond(phone) { 
                height: 9rem;
                font-size: 2rem;
                font-weight: 500;
                    }
            @include respond(small-phone) { 
                height: 6rem;
                font-size: 2rem;
                font-weight: 500;
                }
            
        }

        &__content {
            font-size: 1.8rem;
            color: $color-blue-2;
            margin-top: 5rem;
            font-weight: 500;
            line-height: 3.5rem;

            @include respond(phone) { 
            display: none;
            }
        } 
    }
}


