

.video-player{
  margin: 0 auto;
  padding: 50px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  margin-top: 110px;
  display: flex;
  justify-content: center;


}

.react-player {
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 8%;
  @include respond(tab-land) {
      width: 100%!important;
  }
}
