

.video-player{
  margin: 0 auto;
  padding: 5rem;
  @include respond(phone) {
    width: 100%!important;
    padding: 5rem;
}
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  margin-top: 11rem;
  display: flex;
  justify-content: center;
  @include respond(phone) {
    width: 100%!important;
    margin-top: 5rem;
}

}

.react-player {
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 8%;
  @include respond(phone) {
      width: 100%!important;
  }
}
