



.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    width: 50%;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
    @include respond(tab-land) { 
        width: 100%!important;
    }
}

